.gig-page-body {
  max-width: 1200px;
  margin: 0 auto;
}

.gig-page-container {
  margin: 0 auto;
  max-width: 80%;
}

.container-navbar {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #dddee0;
  border-top: 1px solid #dddee0;
  top: 80px;
  left: 0;
  // position: fixed;
  z-index: 5;
  background: white;
  position: absolute;
}
.gig-review-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.gig-flow-continer {
  display: flex;
  gap: 50px;
  .gig-info {
    flex-grow: 1;
  }
}
h1 {
  color: #404145;
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #404145;
  width: rem(700px);
  font-size: rem(28px);
  padding-bottom: 16px;
}

.seller-overview {
  & > * {
    margin-bottom: 0;
    margin-top: 0;
    &:not(:first-child)::before {
      content: "|";
      color: #c5c6c9;
      padding: 0 5px;
      font-weight: 700;
    }
  }

  margin-bottom: 20px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    height: 32px;
    font-size: 1em;

    .profile-pict-img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
    }
  }

  p {
    color: #62646a;
  }
  .seller-name {
    color: #404145;
    font-weight: 700;
  }
}

h2 {
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #404145;
  font-size: rem(20px);
  margin-top: 120px;
}

.gig-description {
  color: #62646a;
  font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
}

.about-seller {
  font-family: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  gap: 20px;
}

.about-the-seller-img {
  width: rem(110px);
  height: rem(131px);

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.about-the-seller-details {
  display: flex;
  flex-direction: column;

  p {
    margin: 0 0 5px 0;
    font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #62646a;

    &:first-of-type {
      font-weight: 700;
    }
  }
}

.about-the-seller-img {
  width: 110px;
  height: 110px;
}

.star-rate {
  display: flex;
  flex-direction: row;
  p {
    margin: 0;
    padding: 0;
  }
}

.contact-the-seller {
  width: 120px;
  height: 30px;
  padding: 0px 20px;
  border: 1px solid rgb(98, 100, 106);
  margin-top: 10px;
  margin-bottom: 20px;
  color: #62646a;
  background-color: #fff;
  border-radius: 5px;
  font-family: Macan-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #62646a;
  }
}

.gig-flow {
  display: flex;
  gap: 10%;
  // .slidebar-packs {
  //   margin-top: 80px;
  // }
}

.gig-photos {
  border: 1px solid black;
  width: rem(630px);
  height: rem(400px);
  position: relative;
  .gig-carousel-container {
    .react-multiple-carousel__arrow--right {
      right: -25px;
    }
  }
}

.gig-dotList-container {
  button {
    img {
      width: 100px;
      height: 100%;
      opacity: 0.5;
    }
    height: 60px;
  }
  .custom-dot {
    padding: 0;
    border: 0;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
  .custom-dot--active {
    padding: 0;
    &:not(:first-child) {
      margin-left: 5px;
    }
    img {
      width: 100px;
      height: 100%;
      opacity: 1;
    }
  }
  &.react-multi-carousel-dot-list {
    bottom: -70px;
    justify-content: start;
  }
}

.react-multi-carousel-dot-list {
  bottom: -70px;
}

.seller-info-header {
  margin-top: 0;
}
