aside {
  float: right;
  border: 1px solid #dadbdd;
  margin-top: 25px;
  position: sticky;
  top: 120px;
  order: 1;
  flex-grow: 0.5;
  height: 70%;

  button {
    background-color: $clr1;
    color: #fff;
    font-family: Macan;
    font-size: 16px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .nav-container-pack {
    display: flex;
    font: 400 1rem Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #62646a;
    position: relative;
    width: 100%;

    label {
      font-weight: bold;
      text-align: center;
      border-left: none;
      border-top: none;
      cursor: pointer;
      flex: 1;
    }
  }
}

.clicked-pack {
  border-bottom: unset;
  color: $clr1;
  border-bottom: 3px solid $clr1;
  border-right: 1px solid #dadbdd;
  padding: 16px 16px 13px 16px;
}

.unclicked-pack {
  color: #7a7d85;
  border: 1px solid #dadbdd;
  padding: 16px;
  background-color: #fafafa;
}

.packs-form {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
  color: #404145;
  font-family: Macan;
  .from-heder {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;
      color: black;
      padding: 0;
      font-size: 16px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 300;
    }
  }
  p {
    font-size: 14px;
    padding: 40px 0;
    margin: 0;
  }

  .time-dlivery-continer {
    display: flex;
    .time-dlivery {
      padding: 0 0 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #62646a;
    }
  }
}

.features {
  list-style-type: none;
  padding: unset;
  margin: 20px 0;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 14px;
    color: #95979d;
    font-weight: 100;

    svg {
      fill: $clr1;
    }
  }
}
