.hero-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  max-width: 100%;
  font-family: Macan;

  & > :not(:last-child) {
    margin: 0 0 20px;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    font-family: Macan-Bold;
    span {
      font-family: domaine-display-italic;
    }
  }
}

.hero-form-search-bar-wrapper {
  display: flex;
  width: 100%;
  height: 48px;
  position: relative;
}

.hero-form-search-bar-icon {
  fill: gray;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.hero-form-search-bar-wrapper {
  input {
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid lightgray;
    border-right: 0;
    outline: none;
    font-size: 1.3rem;
    padding-left: 42px;
    color: gray;
    font-family: Macan-Light;
  }
}

.hero-form-search-bar-wrapper {
  button {
    flex-basis: 100px;
    background: #1dbf73;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background: #1dbf73bd;
    }
  }
}

.hero-form-tags-wrapper {
  display: flex;
  align-items: center;
}

.hero-form-tags-text {
  margin-inline-end: 15px;
}

.hero-form-tags-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-form-tags-list {
  li {
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      color: #1dbf73;
    }

    &:not(:last-child) {
      margin-inline-end: 10px;
    }
  }
}
