.navbar-logo {
  font-size: 2rem;
  text-decoration: none;
  color: $clrLogo;
  font-family: Macan-Bold;
  &::after {
    content: ".";
    color: green;
  }
}

.page-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 18px/24px Macan-bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: sticky;
  z-index: 15;
  top: 0;


  .navbar-links-items {
    display: flex;  
    justify-content: center;
    align-items: center;

  }
  .navbar-links-items:nth-child(4) {
    order: 1;
  }

  @media only screen and(min-width: 600px) {
    height: 80px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (max-width: $mobile-breakpoint) {
    justify-content: flex-end;
  }
}

.page-navbar-white {
  width: 100%;
  align-items: center;
  font-family: Macan-Bold;
  position: sticky;
  z-index: 1001;
  top: 0;
  background-color: white;
  color: black;
  padding: 25px 0;
  margin-bottom: 0px;

  .navbar-logo {
    padding-top: 5px;
  }
  border-bottom: 1px solid #dddee0;
  @media (max-width: $mobile-breakpoint) {
    position: fixed;
    // display: grid;
    // grid-template-areas:
    //     'head' 'head' 'nav'
    //     'search' 'search' 'search';
    //     grid-template-rows: 1fr 1fr;
    //     grid-template-columns: 1fr; 
    max-width: $mobile-breakpoint;
    margin-bottom: 0px;
  }
  .join{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1dbf73;
    color: #1dbf73;
    font-family: Macan-Bold;
    font-size: 14px;
    transition: 0.4s;
   }

}

.navbar-links {
  @media(max-width: $mobile-breakpoint) {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    min-width: 250px;
    height: 100vh;
    background-color: rgba(255,255,255, .9);
    box-shadow: 0px 0px 0px transparent;
    transform: translateX(100%);
    
    transition: .6s;

    &.side-bar-open {
      transform: translateX(0);
      box-shadow: -8px 0px 20px rgba(0, 0, 0, .2);
    }
  }

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .navbar-links-items {
      color: #62646a;
      text-decoration: none;
      transition: 0.4s;
     
      &:hover {
        color: $clr1;
      }

      @media (max-width: 900px) {
        &:nth-of-type(1) {
          display: none;
        }
      }
      @media (max-width: 850px) {
        &:nth-of-type(2) {
          display: none;
        }
      }
      @media (max-width: 750px) {
        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }
  @media (max-width: $mobile-breakpoint) {
    padding-left: 10px;

    .navbar-links {
      display: none;
    }

    .screen {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      height: 100vh;
      // justify-content: space-between;
      border: 1px solid black;
      .navbar-links-items {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-of-type(1) {
          border-top: 1px solid rgba(161, 160, 160, 0.651);
        }
        
        &:nth-of-type(5) {
          display: none;
        }
        &:nth-of-type(6) {
          display: none;
        }
        &:nth-of-type(7) {
          display: none;
        }
        &:nth-of-type(8) {
          display: none;
        }
        &:nth-of-type(9) {
          display: none;
        }
      }
      > * {
        border-bottom: 1px solid rgba(161, 160, 160, 0.651);
      }
      transition: 0.6s;
      .icon {
        margin: 30px 15px;
        align-self: end;
        justify-self: end;
      }
    }
    .icon {
      display: flex;
      // @media (max-width: $mobile-breakpoint) {
      //   display: inline-block;
      //   left: 100%;
      //   top: 50%;
      //   position: absolute;
      //   transform: translate(-100%, -50%);
      // }
    }
  }
}

.app-nav-wrapper {
  order: 1;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navbar-links-items {
    color: black;
    text-decoration: none;
    transition: 0.4s;
    margin: 0 10px;
    &:nth-of-type(5) {
      display: none;
    }
    &:nth-of-type(6) {
      display: none;
    }
    &:nth-of-type(7) {
      display: none;
    }
    &:nth-of-type(8) {
      display: none;
    }
    &:nth-of-type(9) {
      display: none;
    }
    &:nth-of-type(10) {
      display: none;
    }
    &:nth-of-type(11) {
      display: none;
    }

    @media(max-width: $mobile-breakpoint) {
      display: block;
      color: black !important;
      margin: unset;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #cbcbcb;
    }
  }
}

.nav-container-logo-sreah {
  display: flex;
  gap: 30px;
  .header-form-search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // @media (max-width: $mobile-breakpoint) {
    //   display: none;
    // }
  }
}

.header-form-search-bar-wrapper {
  display: flex;
  position: relative;
  input {
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(218, 219, 221);
    border-right: 0;
    outline: none;
    font-size: 1rem;
    padding: 5px 0;
    padding-left: 42px;
    color: black;
  }
  button {
    height: 30px;
    background: #1dbf73;
    color: white;
    font-size: 14px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
    &:hover {
      background: #1dbf73bd;
    }
  }
  .header-form-search-bar-icon {
    fill: gray;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}
.UserImgHeader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
 
  .fas {
    color: black;
  }

  @media(max-width: $mobile-breakpoint) {
    display: block;
  }
}

.join{
 padding: 8px 20px;
 border-radius: 5px;
 background-color: transparent;
 border: 1px solid white;
 color: white;
 font-family: Macan-Bold;
 font-size: 14px;
 transition: 0.4s;
}

.join:hover{
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  color: white;
 }
