.navbar-logo {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: Macan-Bold;
  &::after {
    content: ".";
    color: green;
  }
}

.page-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-family: Macan-Bold;
  position: sticky;
  z-index: 15;
  top: 0;
  padding: 25px 0;
  margin-bottom: 0;
  &.content-container {
    margin-bottom: 5px;
  }
  .navbar-links-items {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .navbar-links-items:nth-child(4) {
    order: 1;
    margin-left: 15px;
  }

  @media (max-width: $mobile-breakpoint) {
    .navbar-logo {
      margin-left: 15px;
    }
    .navbar-links-items {
      display: none;
    }
    .icon {
      display: block;
      .fas {
        color: white;
      }
    }
  }
}

.page-navbar-white {
  width: 100%;
  align-items: center;
  // padding-top: 20px;
  font-family: Macan-Bold;
  position: sticky;
  z-index: 1001;
  top: 0;
  background-color: white;
  color: black;
  padding: 25px 0;
  margin-bottom: 0px;
  .content-container {
    margin-bottom: 0;
  }
  .navbar-logo {
    padding-top: 5px;
  }
  border-bottom: 1px solid #dddee0;
  @media (max-width: $mobile-breakpoint) {
    position: fixed;
    max-width: $mobile-breakpoint;
    margin-bottom: 0px;
  }
}

.nav-cotiner {
  display: flex;
  justify-content: space-between;

  // .nav-cotiner-logo-sreah {

  // }
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .navbar-links-items {
      color: #62646a;
      text-decoration: none;
      // &:last-child {
      //   border-radius: גק5px;
      //   border: 1px solid white;
      //   padding: 5px 10px;
      //   font-size: 0.9rem;
      // }
      transition: 0.4s;
      &:nth-of-type(5) {
        display: none;
      }
      &:nth-of-type(6) {
        display: none;
      }
      &:nth-of-type(7) {
        display: none;
      }
      &:nth-of-type(8) {
        display: none;
      }
      &:nth-of-type(9) {
        display: none;
      }
      &:not(:nth-of-type(4)) {
        margin-inline-end: 15px;
      }
      &:hover {
        color: $clr1;
      }
    }
  }
  @media (max-width: $mobile-breakpoint) {
    padding-left: 10px;
    .navbar-links {
      display: none;
    }
    .screen {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      height: 100vh;
      justify-content: space-between;
      border: 1px solid black;
      .navbar-links-items {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-of-type(5) {
          display: none;
        }
        &:nth-of-type(6) {
          display: none;
        }
        &:nth-of-type(7) {
          display: none;
        }
        &:nth-of-type(8) {
          display: none;
        }
        &:nth-of-type(9) {
          display: none;
        }
      }
      > * {
        border-bottom: 1px solid rgba(161, 160, 160, 0.651);
      }
      transition: 0.6s;
    }
    .icon {
      display: flex;
    }
  }
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navbar-links-items {
    color: black;
    text-decoration: none;

    // &:last-child {
    //   border-radius: גק5px;
    //   border: 1px solid white;
    //   padding: 5px 10px;
    //   font-size: 0.9rem;
    // }
    transition: 0.4s;
    &:nth-of-type(5) {
      display: none;
    }
    &:nth-of-type(6) {
      display: none;
    }
    &:nth-of-type(7) {
      display: none;
    }
    &:nth-of-type(8) {
      display: none;
    }
    &:nth-of-type(9) {
      display: none;
    }
    &:nth-of-type(10) {
      display: none;
    }
    &:nth-of-type(11) {
      display: none;
    }
    &:not(:nth-of-type(4)) {
      margin-inline-end: 15px;
    }
  }
}

.nav-cotiner-logo-sreah {
  display: flex;
  gap: 30px;
  .header-form-search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.header-form-search-bar-wrapper {
  position: relative;
  input {
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(218, 219, 221);
    border-right: 0;
    outline: none;
    font-size: 1rem;
    padding: 5px 0;
    padding-left: 42px;
    color: black;
  }
  button {
    height: 30px;
    background: #1dbf73;
    color: white;
    font-size: 14px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
    &:hover {
      background: #1dbf73bd;
    }
  }
  .header-form-search-bar-icon {
    fill: gray;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}
.UserImgHeader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 25px;
  .fas {
    color: black;
  }
}
