ul {
    list-style: none;
    padding: unset;

    .review {
        border-top: 1px solid #dadbdd;
        display: grid;
        grid-template-columns: 
        32px
        1fr
        ;
        column-gap: 10px;
        padding: 10px 0px 15px 0px;
        > * {
            grid-column: 2;
        }
        .user-on-review {
            grid-column: 1;
            margin-right: 5px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        span {
            color: #7a7d85;
            font-size: 12px;
        }
    }

    p {
        margin: unset;
        padding: 8px 0;
    }
}

.user-img {
    border-radius: 50%;
}