.reviews-details {
    h2 {
        display: flex;
        gap: .6rem;
        margin: 0;
        padding-bottom: 20px;
        padding-left: 15px;
    }

    .reviews-num {
        span {
            margin-right: 5px ;
        }
    }

    .review-star {
        color: #ffbe5b;
        font-weight: 700;
        flex-grow: 1;
        margin-left: 5px;
    }
}

.ranking {
    padding: 0 8px;
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 8px;
        display: flex;
        flex-direction: column;
              
        :last-child {
            padding-bottom: 0px;
        }
    }

    li {
        display: flex;
        justify-content: space-between;
        color: #95979d;
        padding-bottom: 8px;
        flex: 1;
  
    }

    h6 {
        margin: 0;
        font-family: Macan-bold;
        font-size: 1rem;
        color: #404145;
        padding-block-end: 24px;
    }
}

.total-rating {
    display: flex;
    gap: 5px;
    color: #ffb33e;

    :last-child {
        font-weight: 700;
        font-size: smaller;
        line-height: 17px;
    }
}

.breakdown-wrapper {
    display: flex;

    > * {
        flex: 1;
    }

    @media (max-width: 600px){
        flex-direction: column;
        gap: 20px;
    } 
}

.breakdown-left {
    color: #4a73e8;
    padding: 0 8px;

    button {
        color: #4a73e8;
        font-weight: 600;
    }
}

.reviews-table {
    width: 100%;
    height: 100%;
    display: block;
    
    tbody {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    
    tr td:nth-child(2) {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0px 10px 0 6px;
    }
}
    
.prograss-bar {
    height: 8px;
    background: #e4e5e7;
    margin: auto;
    width: 100%;
    border-radius: 999px;
}

.star-prograss-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.star-prograss-shape.first {
    background-color: #ffb33e;
    height: 8px;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
    width: 75%;
}

.star-prograss-shape {
    background-color: #ffb33e;
    height: 8px;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
    width: 25%;
}
       
.start-num {
    font-family: Arial, Helvetica, sans-serif;
}
    