.tabs li:not(:first-child){
    margin-left: 11px;
}

.header-row {
    :first-child {
        margin: unset;
        font-size: 40px;
        font-family: Macan-Light;
        font-weight: 300;
    }
}

.tabs li a {
    display: block;
    padding: 3px 5px 10px;
    // color: #95979d;
    font-size: 14px;
    line-height: 42px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.orders-table table {
    margin: 0px;
    width: 100%;
    border: 1px solid #e4e5e7;
    color: #62646a;

    td {
        text-align: center;
        vertical-align: middle;
    }
    
}

.orders-table th{
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-top: 7px;
    font-size: 12px;
}

.order-filter-title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
    white-space: nowrap;
    padding: 16px 20px;
    color: #222325;
    border: 1px solid #e4e5e7;
    border-bottom: 0;
    line-height: 17px;
}

.selected {
    > * {
        cursor: pointer;
    }
}