.tabs li:not(:first-child){
    margin-left: 11px;
}

.header h1 {
    font-family: Macan-Light;
}

.header-row {
    :first-child {
        margin: unset;
        font-size: 40px;
        font-family: Macan;
        font-weight: 300;
        padding: 20px 0;
        padding-top: 40px;
    }
}

.selected {
    
    &:first-of-type {
    color: #222325;
    }
}

.tabs li {
  a {
    display: block;
    padding: 3px 5px 10px;
    font-size: 15px;
    line-height: 42px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
  }
  @media only screen and (max-width: 500px) {
    &:last-of-type {
      display: none;
    }
  }
  @media only screen and (max-width: 380px) {
    &:nth-child(4) {
      display: none;
    }
  }

}


.orders-table table {
    margin: 0px;
    width: 100%;
    border: 1px solid #e4e5e7;
    color: $clr2;
    background-color: #fff;
    table-layout: fixed;

        tr {
            box-shadow: inset 0 -1px 0 0 #e4e5e7;
            
            :last-child button {
                color: $clr2;
                text-align: start;
                cursor: pointer;
                font-weight: 700;
                border-radius: 4px;
                border: 1px solid;
                border-color: $clr2;
                padding: 3px 10px;
                background-color: #fff;
                &:hover {
                    color: $clr1;
                    border-color: $clr1;
                }
            }
        }

    td {
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        height: 50px;
        text-transform: capitalize;
    }
    
}

.orders-table th{
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 12px;
    &:last-of-type{
        padding-left: 41px;
    }
}


.order-filter-title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
    white-space: nowrap;
    padding: 16px 20px;
    color: #222325;
    border: 1px solid #e4e5e7;
    border-bottom: 0;
    line-height: 17px;
    background: #fff;
}

.selected {
    > * {
        cursor: pointer;
    }
}

.main-container-orders {
    background: #f7f7f7;
    padding: 0 30px;

    &:last-of-type {
        margin-bottom: 30px;
    }

    .header-row{
      h1{
        @media screen and (max-width: 750px) {
          text-align: center;
        }
      }
    }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAlert-root.MuiAlert-standardInfo{
  background-color: transparent;
  justify-content: center;
  .MuiAlert-message.css-acap47-MuiAlert-message{
    margin-left: 20px;
    @media screen and (max-width: 600px){
        margin-left: 0;
        .MuiAlert-icon.css-1ytlwq5-MuiAlert-icon{
            display: none;
        }
    }
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAlert-root.MuiAlert-standardWarning{
    background-color: transparent;
    justify-content: center;
    padding: 10px 0;
    .MuiAlert-icon.css-1ytlwq5-MuiAlert-icon{
      padding: 0;
        font-size: 0.875rem;
        color: green;
    }
    .css-acap47-MuiAlert-message{
      padding: 0;
    }
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAlert-root.MuiAlert-standardSuccess{
    background-color: transparent;
    justify-content: center;
    .MuiAlert-message.css-acap47-MuiAlert-message{
        margin-left: 20px;
      }
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root{
        color:#6eda72
    }
  }


  .accpet{
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 750px) {
    thead th {
        display: none;
    }

    td, th {
        display: block;
    }

    td {
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      padding-right: 10px;

      &:first-of-type {
        padding-top: 10px;
      }
    }

    td[data-th]:before  {
        content: attr(data-th);
        padding-left: 20px;
        padding-bottom: 5px;
        padding-right: 10px;
        float: left;
        display: flex;
        align-items: center;
    }

    .orders-table table td {
      height: unset;
    }
}

 