* {
  box-sizing: border-box;
}

html {
  font-family: Macan, Helvetica;
}

body {
  margin: 0;
  // background-color: #fff !important;
}

// ::selection {
//   background: #f7f7f7;
//   color: #fff;
//   text-shadow: none;
// }

// img {
//    width: 100%;
// }

// a {
//   color: $clr3;
// }

button {
  cursor: pointer;
}
