.clean-link {
  text-decoration: none;
  color: unset;
}

.clean-button {
    background: none;
    border: none;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.card-seller-img {
  width: 24px;
  border-radius: 50%;
}
