.clean-link {
  text-decoration: none;
  color: unset;
}

.clean-button {
    background: none;
    border: none;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.card-seller-img {
  width: 24px;
  border-radius: 50%;
}

.selected {
  color: #95979d;
}

.active {
  color: #222325;
}

.center-page {
  position: relative;
  left: -50%;
  top: -50%;
}

.loader {
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.center-td {
  text-align: center;
  vertical-align: middle;
}

.add-gig-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  > * {
    display: flex;
  }
}

.none {
  display: none;
}

.dim-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, .5);
}