@font-face {
  font-family: Macan;
  src: url(https://npm-assets.fiverrcdn.com/assets/layout/macan-regular.3d263b5.woff2);
}

@font-face {
  font-family: Macan-Light;
  src: url(https://npm-assets.fiverrcdn.com/assets/layout/macan-light.9b72a31.woff2);
}
@font-face {
  font-family: Macan-Bold;
  src: url(https://npm-assets.fiverrcdn.com/assets/layout/macan-bold.502483a.woff2);
}

@font-face {
  font-family: domaine-display-italic;
  src: url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-medium-italic.woff2);
}
@font-face {
  font-family: Icons;
  src: url(https://npm-assets.fiverrcdn.com/assets/layout/macan-regular.3d263b5.woff2);
}